---
import Layout from "../layouts/Layout.astro";
import Wrapper from "../components/Wrapper.svelte";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Hello, world!</h1>
    <Wrapper client:load />
  </main>
</Layout>
