---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.svelte";
---

<Layout title="Welcome to Astro.">
  <main class="p-4 h-full flex flex-col justify-around">
    <h1 class="text-3xl font-serif">Plan your trip</h1>
    <Form client:load />
  </main>
</Layout>
